/_ide_helper.php
/public/imagenes/actualizaciones/
/public/imagenes/articulos/
/public/imagenes/bandas/
/public/imagenes/festivales/
/public/imagenes/imperdibles/
/public/imagenes/joyas/
/public/imagenes/publicaciones/
/public/imagenes/usuarios/
/storage/
/vendor/
/.idea/
/coverage/
/.php-cs-fixer.cache
/.phpunit.result.cache
/phpunit.xml.bak
/build
/infection